<%= form_with(model: invoice, local: true) do |form| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company %>
    <%= form.text_field :company, id: :invoice_company %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :invoice_date %>
  </div>

  <div class="field">
    <%= form.label :salesperson %>
    <%= form.text_field :salesperson, id: :invoice_salesperson %>
  </div>

<div class ="field">
  <%= form.label :status%>
  <%= form.select(:status_type, options_for_select([['PAID','PAID'],['PENDING','PENDING'],['EMPTY', 'EMPTY']]), {include_blank: true}) %>
</div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
